.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.8s;
  transform-style: preserve-3d;
}

.true {
  transform: rotateY(180deg);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  color: white;
  border-radius: 8px;
  border: 2px #c5c6c7 solid;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px #c5c6c7 solid;
  color: white;
  transform: rotateY(180deg);
  border-radius: 8px;
}

.flip-card {
  height: 150px;
  width: 200px;
  position: relative;
  margin: 10px;
  margin-top: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
