.sidebar {
  grid-column: 1 / span 1;
  background-color: #45a29e;
}

.levels {
  color: #0b0c10;
}

.level-number {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.lesson-label {
  margin: 0px;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.go-home-button {
  text-align: center;
  background-color: #45a29e;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
}
